@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");


/* navbar */
.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}

.navbar-brand {
    padding-left: 50px;
    font-weight:700;
    font-family: "Open Sans", sans-serif;
    font-size:  1.35rem;
    
}
.navbar-light .navbar-brand {
    color: crimson;
}

.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
  }

/* -------------------- MovieCard---------------------------- */

.card-body{
    font-family: 'Raleway Dots', sans-serif;
}
